/* ------------------------------------------------
  Project:   Loptus - Digital Marketing Agency Responsive HTML5 Template
  Author:    ThemeHt
------------------------------------------------ */


/* ------------------------
    Responsive Css
------------------------*/

@media screen and (max-width: 800px){
  .body{
    width: 100% !important;
    margin: auto !important;
  }

  li a{
    padding: 10px 15px ;
    margin: 0 3px;
    font-weight: bold;
    float: left;
    display: block;
    text-align: center;
    max-width: 60px;
}

  .text{
    position: absolute;
    top: 9px;
    left: 30px;
    font-size: 12px;
    text-align: start;
    width: 300px;
    max-height: 40% !important;
    margin: auto;
  }

  h1.hero, .span{
    font-size: 30px;
    font-weight: bold;
  }
  
  #but{
    background-color: red;
    padding: 8px;
    font-weight: bold;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 10px;
    margin: 0px;
    width: 150px;
    box-sizing: border-box;
    border: none;
  }

  .column-left{
    position: relative;
    float: left;
    right: 35%;
    top: 20px;
    font-weight: bold;
    z-index: 10;
    margin: 0;
  }

  .column-left img{
    display: none;
    width: 25%;
    margin-bottom: -50px;
  }

  .column-right{
    position: relative;
    bottom: 40px;
    opacity: 1;
    left: 50%;
  }

  div.about{
    margin: 40px 0 0px 10px;
    padding: 20px;
    display: block;
  }

.col-lg-6{
  max-width: 100% !important;
  height: 300px; 
  bottom: auto;
  padding: auto;
  margin: auto;
  
}

.col-lg-6 img{
  width: 450px;
}

.col-lg-4{
  padding: 15px 10px !important;
  margin: 50px 20px !important;
  position: relative;
  height: auto; 
  left: -70px;
  display: block;
  text-align: center;
  min-width: 70% !important;
  max-width: 70% !important;
  }

  div.services{
    margin-bottom: 100px;
    padding: 20px;
    clear: both;
    background-color: #f3f6ff;
    overflow: hidden;
    width: auto;
    height: auto;
    max-width: 100% !important;
  }

.col-md-4{
  position: relative;
  max-width: 100% !important;
  height: 200px;
  padding:10px 0 0 0;
  margin-bottom: 250px;
  float: none;
  text-align: center;
  display: block;
  left: 80px !important;
  
}

.col-md-4 img{
  float: none;
  height: 300%;
  min-width: 100% !important;
  max-width: 100% !important;
}

input{
  padding: 5px;
  margin: 10px;
  width: 200px;
  font-weight: bold;
  display: block;
  position: relative;
  left:30%;
}

input[type=submit]{
  position: relative;
  left:37%;
  
}

textarea{
  width: 60%;
  padding: 20px;
  margin: 10px;
  font-weight: bold;
  display: block;
  position: relative;
  left:20%;
}

form {
  padding: 5px;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: auto;
}
}




@media screen and (max-width: 800px){
  .body{
    width: 100% !important;
    margin: auto;
  }
  .text{
    position: absolute;
    top: 50px;
    left: 30px;
    font-size: 16px;
    text-align: start;
    width: 400px;
    height: auto;
  }

  h1.hero, .span{
    font-size: 40px;
    font-weight: bolder;
  }
  
  #but{
    background-color: red;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    margin: 0px;
    width: 200px;
    }

  .column-left{
    position: relative;
    float: left;
    right: 35%;
    top: 20px;
    font-weight: bold;
    z-index: 10;
    margin: 0;
  }

  .column-left img{
    width: 21%;
    margin-bottom: 0px;
  }

  .column-right{
    position: relative;
    bottom: 40px;
    opacity: 1;
    left: 50%;
  }

  div.about{
    margin: 40px 0 0px 10px;
    padding: 20px;
    clear: both;
    background-color: transparent;
    width: auto;
    height: auto;
    display: block;
  }

.col-lg-6{
  position: relative;
  width: 90%;
  height: 300px; 
  bottom: 0px;
  padding-left: 15px;
  margin: 0px;
  float: center;
}

.col-lg-6 img{
  width: 500px;
}

.col-lg-4{
  position: relative;
  height: 350px; 
  bottom: 0px;
  display: block;
  margin-left: 21% !important;
  text-align: center;
  width: 100%;
}

.col-md-4{
  position: relative;
  width: 70%;
  height: 200px;
  padding:10px 0 0 0;
  margin-bottom: 450px;
  text-align: center;
  display: block;
  left: 21%;
  
}

.col-md-4 img{
  height: 300%;
}

input{
  padding: 5px;
  margin: 10px;
  width: 280px;
  font-weight: bold;
  display: block;
  position: relative;
  left:30%;
}

input[type=submit]{
  position: relative;
  left:37%;
  
}

textarea{
  width: 60%;
  padding: 20px;
  margin: 10px;
  font-weight: bold;
  display: block;
  position: relative;
  left:20%;
}

form {
  padding: 5px;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: auto;
}
}





@media screen and (max-width: 800px){
  .body{
    width: 100% !important;
    margin: auto;
    display: block;
  }
  .text{
    position: absolute;
    top: 70px;
    left: 50px;
    font-size: 17px;
    text-align: start;
    width: 500px;
    height: auto;
  }

  h1.hero, .span{
    font-size: 60px;
    font-weight: bolder;
  }
  
  #but{
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
    width: 200px;
    }

  .column-left{
    position: relative;
    float: left;
    right: 35%;
    top: 20px;
    font-weight: bold;
    z-index: 10;
    margin: 0;
  }

  .column-left img{
    max-width: 21%;
    margin-bottom: 0px;
  }

  .column-right{
    position: relative;
    bottom: 40px;
    opacity: 1;
    left: 50%;
  }

  div.about{
    margin: 40px 0 0px 10px;
    padding: 20px;
    clear: both;
    width: auto;
    height: auto;
    display: block;
  }

.col-lg-6{
  position: relative;
  max-width: 45% !important;
  height: 300px; 
  bottom: 0px;
  padding-left: 15px;
  margin: auto;
  vertical-align: middle;
}

.col-lg-6 img{
  max-width: 100%;

}

.col-lg-4{
  position: relative;
  height: 350px; 
  bottom: 0px;
  display: block;
  margin: 10px 0px 50px 0px;
  text-align: center;
  min-width: 100%;
  max-width: 100%;
}

.col-md-4{
  position: relative;
  max-width: 100% !important;
  height: 250px;
  padding:10px 0 0 0;
  margin-bottom: 300px;
  text-align: center;
  display: block;
  left: 5%;
  
}

.col-md-4 img{
  height: 200%;
  width: auto;
}

input{
  padding: 5px;
  margin: 10px;
  max-width: 80% !important;
  min-width: 50% !important;
  display: block;
  position: relative;
  left:25%;
}

input[type=submit]{
  position: relative;
  left: 25%;
}

textarea{
  width: 60%;
  padding: 20px;
  margin: 10px;
  font-weight: bold;
  display: block;
  position: relative;
  left:20%;
}

form {
  padding: auto !important;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: auto;
}
}

@media screen and (max-width: 800px){
  .col-lg-4{
    position: relative;
    height: 300px; 
    bottom: 0px;
    display: block;
    margin: 10px 50px 50px -15px;
    text-align: center;
    min-width: 27% ;
    max-width: 27% ;
  }
}

@media screen and (max-width: 800px){
  .col-lg-4{
    position: relative;
    height: 300px; 
    bottom: 0px;
    display: block;
    margin: 10px 50px 50px -15px;
    text-align: center;
    min-width: 27% ;
    max-width: 27% ;
  }
}