html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    color: #000;
    text-align: center;
    background-color: white;
    line-height: 20px;
    word-spacing: 2px;
    display: block;
    position: relative;
    overflow: auto;
    max-width: 100% !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h2,h3,h4{
    font-weight: bolder;
    font-size: xx-large;
  }

  section{
    clear: both;
  }

  .header{
    max-width: 100% !important;
    margin: auto !important;
  }
  
  .header-row{
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100% !important;
    margin: auto;
    height: auto;
    z-index: 9 !important;
    
  }
  h1.hero, .span{
    font-size: 50px;
    font-weight: bolder;
  }

  .web{
    clear: both;
  }

  .column-left{
    position: relative;
    float: left;
    right: 26%;
    top: 20px;
    font-weight: bold;
    z-index: 10;
    margin: 0;
  }

  .column-right{
    position: relative;
    bottom: 40px;
    opacity: 1;
    left: 50%;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100% !important;
    height: auto;
    
  }
  
  li a, .dropbtn{
      padding: 10px 15px ;
      margin: 0 3px;
      text-decoration: none;
      font-weight: bold;
      float: left;
      display: block;
      text-align: center;
      color: #fff;
  }

  li .dropdown{
    display: inline-block;
    clear: both;
  }

  .dropdown-content{
    display: none !important;
    position: absolute;
    background-color: #111;
    min-width: 160px;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.2);
  }

  .dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    box-sizing: border-box;
    display: block;
    float: none;
    line-height:20px;
    position:static;
    z-index: auto;

  }

  .dropdown-content a:hover{
    background-color: #f1f1f1;
  }

  .dropdown.dropbtn:hover, .dropdown-content{
    display: block;
    }

  li a.active{
    background-color: red;
    color: #111 !important;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  
li a:link {
	color: #fff !important;
	
}

li a:hover:not(.active), .dropbtn:hover:not(.active) {
	color: #111 !important;
  background-color: red;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}

li a:active {
	color: hotpink;
}

li a:visited {
	color: white;
}
.banner img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -9;
    text-align: center;
    width: 100%;
}

.banner{
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  padding: 0;
  max-height: fit-content !important;
  overflow: hidden;
}

.text{
  position: absolute;
  top: 200px;
  left: 50px;
  font-size: 20px;
  color: white;
  text-align: start;
  width: 500px;
  height: auto;
  margin: auto;
  max-height: 80% !important;
}

div.about{
  margin: 40px 0 0px 10px;
  padding: 20px;
  clear: both;
  background-color: transparent;
  overflow: hidden;
  width: auto;
  height: auto;
  background-image: url(images/02.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
span{
  color: red;
  margin-bottom: 10px;
}

.col-lg-6{
  column-count: auto;
  column-gap: 10px;
  position: relative;
  max-width: 46% !important;
  height: 300px; 
  bottom: 0px;
  padding-left: 30px;
  margin: auto;
  float: left;
}

div.services{
  margin-bottom: 100px;
  padding: 20px;
  clear: both;
  background-color: #f3f6ff;
  overflow: hidden;
  width: auto;
  height: auto;
}

h6{
  font-size: medium;
  color: black;
}

div.txt{
  margin-bottom: 0px;
  padding: 0;
  text-align: center;
}

.col-lg-4{
    column-count: auto;
    position: relative;
    width: 300px;
    height: auto;
    padding: 15px 15px;
    margin: 50px 20px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    float: left;
    background-color: whitesmoke;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.2);
    transition: all 0.8s linear;
}

.col-lg-4:hover{
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.2);
  border: none;
  background-color: red;
  color: #fff !important;
  border: 1px solid white;
  transform: scale(1.1);
}

div.row.top{
  padding: 30px 0 0 55px;
}

.col-md-4{
  position: relative;
  width: 30%;
  height: 200px;
  padding:10px 0 0 0;
  margin-bottom: 500px;
  float: left;
  text-align: center;
  display: block;
  left: 70px;
  background-color: transparent;
  color: red;
}

/*.dropdown{
  position: relative;
  display: inline-block;
  clear: both;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
}*/


.col-md-4.first:hover::after{
  display: block;
  content: "INSTALLATION/MAINTENANCE";
  font-weight: bolder;
  color: red;
  text-align: center;
  text-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
  margin-top: -20px;
}
.col-md-4.second:hover::after{
  display: block;
  content: "BUILDING";
  font-weight: bolder;
  color: red;
  text-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-top: -20px;
}
.col-md-4.third:hover::after{
  display: block;
  content: "PLUMBING/ELECTRICALS";
  font-weight: bolder;
  color: red;
  margin-top: -20px;
  text-align: center;
  text-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.LATEST-WORK{
  background-image: url(images/02.png);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-color: transparent;
  overflow: hidden;
}

.contact{
  margin-bottom: 100px;
  clear: both;
  overflow: hidden;
  width: auto;
  height: 50%;
  
}
div.container.con{
  background-image: url(images/about_img_1.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: auto;
  height: 50%;
  padding: 100px 0;
  z-index: 1;
}

.footer-dm{
  background-color: red;
  padding: 30px;
  color: white;
}

input{
  border: 1px outset red;
  border-radius: 3px;
  padding: 6px 200px;
  margin: 20px 0;
  background-color: transparent;
  width: auto;
  display: inline-block;
  box-sizing: border-box;
  font-weight: bold;
  }

input:focus, textarea:focus{
  background-color: rgba(0, 0, 0, 0.1);
}

textarea{
  width: auto;
  resize: none;
  overflow: hidden;
  border: 1px outset red;
  border-radius: 3px;
  padding: 20px 200px;
  margin: 20px 0;
  background-color: transparent;
  display: inline-block;
  box-sizing: border-box;
  font-weight: bold;
}

.form-cover{
  width: auto;
  padding: 30px 0;
  overflow: auto;
  display: flex !important;
  display: -webkit-flex;
  justify-content: center;
  margin: 0 30px;
}

label{
  display: flex !important;
  display: -webkit-flex;
  justify-content: flex-start;
}

form {
  color: red;
  padding: 5px;
  margin: 0;
  }

#but{
  background-color: red;
  padding: 10px;
  font-weight: bold;
  color: white;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: medium;
  margin: 20px;
  width: 200px;
  box-sizing: border-box;
  border: none;
}

#but:hover{
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  background: linear-gradient(34deg, darkred, red, orange);
  counter-reset: #fff;
  transform: scale(1.1);
}

.wthree-ser i {
  font-size: 40px;
  color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: red;
  border: 1px solid red;
  text-align: center;
  width: 70px;
  height: 70px;
  line-height: 1.7;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
}

.font-social{
  font-size: 30px;
  color: white;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  line-height: 1;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wthree-ser i:hover{
  color: red;
  background-color: white;
}
